
header {
	border: 5px red solid;
	background-color: white;
}

header h2{
	border: 5px orange solid;
}

article {
	border: 10px green solid;
	background-color: white;
}

section {
	border: 5px blue solid;
	background-color: #E8FBFB;
	margin-top: 10px;
}

.fecha {
	border: 5px purple solid;
}

a {
	color: #245F5F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

blockquote {
	font-style: italic;
}

body {
	font-family: "Georgia";
	color: #009097;
	margin-right: 10%;
	margin-left: 10%;
	background-image: url("./background.jpg");
}


h1, h2 {
	font-weight: normal;
	font-family: "Century Gothic";
	margin: 3px;
	padding: 0px;
}

img {
	border-style: none;
	padding: 5px;
}

ul {
	padding-left: 10px;
	margin: 2px 10px 2px 5px;
}
